In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("C:/Users/s7522/Desktop/Miuul Bootcamp/Python Programming for Data Science 1/persona.csv")

In [6]:

print(df.head()) #dosya ile ilgili ilk 5 verinin incelenmesi
print(df.info()) #dosya ile ilgili bilgilerin toplanması
print(df.nunique()) #unique değerlerin incelenmesi
print(df["PRICE"].value_counts()) #hangi price dan kaç adet satış gerçekleşti
print(df["COUNTRY"].value_counts()) #hangi ülkede kaç adet satış gerçekleşti
print(df.groupby("COUNTRY").agg({"PRICE" : "sum"})) #hangi ülkede satıştan ne kadar kazanıldı
print(df.groupby("SOURCE").agg({"PRICE" : "count"})) #source türlerine göre satış adeti
print(df.groupby("COUNTRY").agg({"PRICE" : "mean"})) #ülkelere göre satış ortalamaları
print(df.groupby("SOURCE").agg({"PRICE": "mean"})) #source lara göre price ortalamaları
print(df.groupby(["COUNTRY","SOURCE"]).agg({"PRICE": "mean"})) #country-source kırılımında price ortalamaları
df2=df.groupby(["COUNTRY","SOURCE","SEX","AGE"]).agg({"PRICE":"mean"}) #country source sex age kırılımında ortalama kazançlar
agg_df = df2.sort_values(ascending= False, by="PRICE") #sort_values metodu ile azalan olacak şekilde PRICE a göre sıralama
print(agg_df)
df["AGE_CAT"]=pd.cut(x=df['AGE'], bins=[0,20,40,60,80], labels=["0-20","20-40","40-60","60-80"]) #agg_df e göre hata alınca df e göre düzenleyip kopyasını agg_df e attım
print(df)
agg_df = df.copy()
print(agg_df)
agg_df["customers_level_based"] = (agg_df["COUNTRY"].astype(str))+"_"+agg_df["SOURCE"].astype(str)+"_"+agg_df["SEX"].astype(str)+"_"+agg_df["AGE_CAT"].astype(str) #6.soruda istenilen bilgileri str yapıp büyük harfe çevirip birleştirme işlemi
agg_df["customers_level_based"] = agg_df["customers_level_based"].str.upper()
print(agg_df)

#for q in [0, 0.25, 0.51, 0.75, 1]:
    #print(q, ':', np.quantile(agg_df["PRICE"], q))
agg_df['SEGMENT'] = agg_df['PRICE'].transform(lambda x: pd.qcut(x.rank(method='first'), q = [0, 0.25, 0.5, 0.75, 1], labels = ["D","C","B","A"])) #7.soru çözümü
print(agg_df)
print(agg_df.groupby("SEGMENT").agg({"PRICE": ["mean","max","sum"]}))

new_user="TUR_ANDROID_FEMALE_20-40"
print(agg_df[agg_df["customers_level_based"] ==new_user].mode()) #Uyguladık ve 20-40 yaş arası Türk kadını A segmentindedir gelir olarak
print(agg_df[agg_df["customers_level_based"]==new_user].groupby("customers_level_based").agg({"PRICE":"mean"})) #Uyguladık ve 20-40 yaş arası Türk kadını fiyat olarak 36 küsür satın alınma yapmıştır.

new_user="FRA_IOS_FEMALE_20-40"
print(agg_df[agg_df["customers_level_based"] ==new_user].mode()) #Uyguladık ve 20-40 yaş arası FR kadını D segmentindedir gelir olarak
print(agg_df[agg_df["customers_level_based"]==new_user].groupby("customers_level_based").agg({"PRICE":"mean"})) #Uyguladık ve 20-40 yaş arası Türk kadını fiyat olarak 30 küsür satın alınma yapmıştır.

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PRICE    5000 non-null   int64
 1   SOURCE   5000 non-null   object
 2   SEX      5000 non-null   object
 3   COUNTRY  5000 non-null   object
 4   AGE      5000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 234.4+ KB
None
PRICE       6
SOURCE      2
SEX         2
COUNTRY     6
AGE        46
dtype: int64
29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: PRICE, dtype: int64
usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: COUNTRY, dtype: int64
         PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225
         PRICE
SOURCE
android   2974
ios       2026
             PRICE
COUNTRY
bra      34.327540
can      33.608696
deu      34.032967
fra      33.587459
tur      34.787140
usa      34.007264
             PRICE
SOURCE
android  34.174849
ios      34.069102
                     PRICE
COUNTRY SOURCE
bra     android  34.387029
        ios      34.222222
can     android  33.330709
        ios      33.951456
deu     android  33.869888
        ios      34.268817
fra     android  34.312500
        ios      32.776224
tur     android  36.229437
        ios      33.272727
usa     android  33.760357
        ios      34.371703
                            PRICE
COUNTRY SOURCE  SEX    AGE
bra     android male   46    59.0
usa     android male   36    59.0
fra     android female 24    59.0
usa     ios     male   32    54.0
deu     android female 36    49.0
...                           ...
usa     ios     female 38    19.0
                       30    19.0
can     android female 27    19.0
fra     android male   18    19.0
deu     android male   26     9.0

[348 rows x 1 columns]
      PRICE   SOURCE     SEX COUNTRY  AGE AGE_CAT
0        39  android    male     bra   17    0-20
1        39  android    male     bra   17    0-20
2        49  android    male     bra   17    0-20
3        29  android    male     tur   17    0-20
4        49  android    male     tur   17    0-20
...     ...      ...     ...     ...  ...     ...
4995     29  android  female     bra   31   20-40
4996     29  android  female     bra   31   20-40
4997     29  android  female     bra   31   20-40
4998     39  android  female     bra   31   20-40
4999     29  android  female     bra   31   20-40

[5000 rows x 6 columns]
      PRICE   SOURCE     SEX COUNTRY  AGE AGE_CAT
0        39  android    male     bra   17    0-20
1        39  android    male     bra   17    0-20
2        49  android    male     bra   17    0-20
3        29  android    male     tur   17    0-20
4        49  android    male     tur   17    0-20
...     ...      ...     ...     ...  ...     ...
4995     29  android  female     bra   31   20-40
4996     29  android  female     bra   31   20-40
4997     29  android  female     bra   31   20-40
4998     39  android  female     bra   31   20-40
4999     29  android  female     bra   31   20-40

[5000 rows x 6 columns]
      PRICE   SOURCE     SEX COUNTRY  AGE AGE_CAT     customers_level_based
0        39  android    male     bra   17    0-20     BRA_ANDROID_MALE_0-20
1        39  android    male     bra   17    0-20     BRA_ANDROID_MALE_0-20
2        49  android    male     bra   17    0-20     BRA_ANDROID_MALE_0-20
3        29  android    male     tur   17    0-20     TUR_ANDROID_MALE_0-20
4        49  android    male     tur   17    0-20     TUR_ANDROID_MALE_0-20
...     ...      ...     ...     ...  ...     ...                       ...
4995     29  android  female     bra   31   20-40  BRA_ANDROID_FEMALE_20-40
4996     29  android  female     bra   31   20-40  BRA_ANDROID_FEMALE_20-40
4997     29  android  female     bra   31   20-40  BRA_ANDROID_FEMALE_20-40
4998     39  android  female     bra   31   20-40  BRA_ANDROID_FEMALE_20-40
4999     29  android  female     bra   31   20-40  BRA_ANDROID_FEMALE_20-40

[5000 rows x 7 columns]
      PRICE   SOURCE     SEX COUNTRY  AGE AGE_CAT     customers_level_based  \
0        39  android    male     bra   17    0-20     BRA_ANDROID_MALE_0-20
1        39  android    male     bra   17    0-20     BRA_ANDROID_MALE_0-20
2        49  android    male     bra   17    0-20     BRA_ANDROID_MALE_0-20
3        29  android    male     tur   17    0-20     TUR_ANDROID_MALE_0-20
4        49  android    male     tur   17    0-20     TUR_ANDROID_MALE_0-20
...     ...      ...     ...     ...  ...     ...                       ...
4995     29  android  female     bra   31   20-40  BRA_ANDROID_FEMALE_20-40
4996     29  android  female     bra   31   20-40  BRA_ANDROID_FEMALE_20-40
4997     29  android  female     bra   31   20-40  BRA_ANDROID_FEMALE_20-40
4998     39  android  female     bra   31   20-40  BRA_ANDROID_FEMALE_20-40
4999     29  android  female     bra   31   20-40  BRA_ANDROID_FEMALE_20-40

     SEGMENT
0          C
1          C
2          A
3          D
4          A
...      ...
4995       C
4996       C
4997       C
4998       A
4999       C

[5000 rows x 8 columns]
          PRICE
           mean max    sum
SEGMENT
D        17.864  29  22330
C        29.024  39  36280
B        39.000  39  48750
A        50.640  59  63300
   PRICE   SOURCE     SEX COUNTRY  AGE AGE_CAT     customers_level_based  \
0     49  android  female     tur   26   20-40  TUR_ANDROID_FEMALE_20-40

  SEGMENT
0       A
                              PRICE
customers_level_based
TUR_ANDROID_FEMALE_20-40  36.818182
   PRICE SOURCE     SEX COUNTRY  AGE AGE_CAT customers_level_based SEGMENT
0     19    ios  female     fra   31   20-40  FRA_IOS_FEMALE_20-40       D
                           PRICE
customers_level_based
FRA_IOS_FEMALE_20-40   30.785714